@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-500);
  transition: all var(--transition-base);
  padding: 3px;
  border-radius: var(--radius-sm);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary-100);
    color: var(--primary-600);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 3rem 2rem;
  }
}
